[submodule "zsh"]
	path = zsh
	url = git@github.com:ChrisGVE/config.zsh.git
[submodule "yabai"]
	path = yabai
	url = git@github.com:ChrisGVE/config.yabai.git
[submodule "borders"]
	path = borders
	url = git@github.com:ChrisGVE/config.borders.git
[submodule "karabiner"]
	path = karabiner
	url = git@github.com:ChrisGVE/config.karabiner.git
[submodule "task"]
	path = task
	url = git@github.com:ChrisGVE/config.task.git
[submodule "taskopen"]
	path = taskopen
	url = git@github.com:ChrisGVE/config.taskopen.git
