[submodule "figlet"]
	path = figlet
	url = https://github.com/xero/figlet-fonts.git
[submodule "lazygit/lazygit"]
	path = lazygit/lazygit
	url = https://github.com/catppuccin/lazygit.git
[submodule "lazygit/catppuccin"]
	path = lazygit/catppuccin
	url = https://github.com/catppuccin/lazygit.git
[submodule "btop/themes/btop"]
	path = btop/themes/btop
	url = https://github.com/catppuccin/btop.git
[submodule "gitui/gitui"]
	path = gitui/gitui
	url = https://github.com/catppuccin/gitui.git
[submodule "zsh/ohmyzsh"]
	path = zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "nvim"]
	path = nvim
	url = git@github.com:ChrisGVE/config.nvim.git
[submodule "tmux"]
	path = tmux
	url = git@github.com:ChrisGVE/config.tmux.git
[submodule "wezterm"]
	path = wezterm
	url = git@github.com:ChrisGVE/config.wezterm.git
